<!DOCTYPE html>
<html lang="en" >
	<!-- begin::Head -->
	<head>
		<meta charset="utf-8" />
		<title>
			International Pumps
		</title>
		<meta name="description" content="Latest updates and statistic charts">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<!--begin::Web font -->
		<script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.16/webfont.js"></script>
		<script>
          WebFont.load({
            google: {"families":["Poppins:300,400,500,600,700","Roboto:300,400,500,600,700"]},
            active: function() {
                sessionStorage.fonts = true;
            }
          });
		</script>
		<!--end::Web font -->
        <!--begin::Base Styles -->
        <link href="{{ asset('vendors/base/vendors.bundle.css')}}" rel="stylesheet" type="text/css" />
		<link href="{{ asset('demo/default/base/style.bundle.css')}}" rel="stylesheet" type="text/css" />
		<!--end::Base Styles -->
		<link rel="shortcut icon" href="{{ asset('demo/default/media/img/logo/favicon.ico') }}" />
	</head>
	<!-- end::Head -->
    <!-- end::Body -->
	<body class="m--skin- m-header--fixed m-header--fixed-mobile m-aside-left--enabled m-aside-left--skin-dark m-aside-left--offcanvas m-footer--push m-aside--offcanvas-default"  >
		<!-- begin:: Page -->
		<div class="m-grid m-grid--hor m-grid--root m-page">
			<div class="m-grid__item m-grid__item--fluid m-grid m-grid--ver-desktop m-grid--desktop m-grid--tablet-and-mobile m-grid--hor-tablet-and-mobile m-login m-login--1 m-login--signin" id="m_login">
				<div class="m-grid__item m-grid__item--order-tablet-and-mobile-2 m-login__aside">
					<div class="m-stack m-stack--hor m-stack--desktop">
						<div class="m-stack__item m-stack__item--fluid">
							<div class="m-login__wrapper">
								<div class="m-login__logo">
									<a href="#">
										<img src="{{ asset('app/media/img//logos/logo-2.png') }}">
									</a>
								</div>
								<div class="m-login__signin">
									<div class="m-login__head">
										<h3 class="m-login__title">
											Ingreso al Sistema
										</h3>
									</div>
                                    {% if error %}
                                        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                                    {% endif %}
									<form class="m-login__form m-form" action="{{ path('login') }}" method="post">
										<div class="form-group m-form__group">
											<input class="form-control m-input" type="text" id="username" name="_username" value="{{ last_username }}" placeholder="Nombre de Usuario">
										</div>
										<div class="form-group m-form__group">
											<input class="form-control m-input m-login__form-input--last" type="password" type="password"  id="password" name="_password" placeholder="Contraseña">
										</div>
										<div class="m-login__form-action">
											<button id="m_login_signin_submit" class="btn btn-focus m-btn m-btn--pill m-btn--custom m-btn--air">
												Ingresar
											</button>
										</div>
									</form>
								</div>
								
							</div>
						</div>
						
					</div>
				</div>
				<div class="m-grid__item m-grid__item--fluid m-grid m-grid--center m-grid--hor m-grid__item--order-tablet-and-mobile-1	m-login__content" style="background-image: url({{ asset('images/banner/portada-de-registro.png') }})">
					<div class="m-grid__item m-grid__item--middle"> 
						<h3 class="m-login__welcome">
							Ten Tu Dieta
						</h3>
						<p class="m-login__msg">
							El momento es ahora, el día es hoy y la hora es ya! Abandoná las excusas, y no esperes a un "lunes" que nunca llega!
						</p>
					</div>
				</div>
			</div>
		</div>
		<!-- end:: Page -->
    	<!--begin::Base Scripts -->
        <script src="{{ asset('vendors/base/vendors.bundle.js')}}" type="text/javascript"></script>
		<script src="{{ asset('demo/default/base/scripts.bundle.js')}}" type="text/javascript"></script>
		<!--end::Base Scripts -->   
        <!--begin::Page Snippets -->
		<!--<script src="../../../assets/snippets/pages/user/login.js" type="text/javascript"></script>-->
		<!--end::Page Snippets -->
	</body>
	<!-- end::Body -->
</html>
