{% extends 'layouts/madang.html.twig' %}

{% block title %}Ten Tu Dieta{% endblock %}

{% block banner %}
    <!-- ============== About us Banner starts ============== 
        <section class="banner banner-image about-us-banner">
            <div class="bannerwrap">
                <figure><img src="" alt="Abut us Banner" /></figure>
            </div>
        </section>
        <!-- ============== About us Baner ends ============== -->
{% endblock %}

{% block body %}
     <!-- ============== About us starts ============== -->
            <section class="block about-us-block">
                <div class="container">

                   <div class="about-us-content">

                        <div class="text-center top-description wow fadeInUp">
                            <h2 class="text-sp text-lt">NUESTRO EQUIPO</h2>
                        </div>

                        <!-- 2 columns paragraph starts -->
                        <div class="text-center top-description wow fadeInUp">
                            <p><h3 style="align: center;">Mi nombre es Jennifer, soy nutricionista y Coach Ontológico Profesional.</h3></p>
                            <p style="margin-bottom: 15px !important;text-align: justify !important;"> Desde mis inicios he creado NutriZim y tengo innumerables casos exitosos. En ISalud, de la mano del Dr. Cormillot aprendí que el cliente o paciente, es mucho más que eso, es un Ser, con alegrías y dificultades, con alimentos adictivos, comidas de identidad regional, con enfermedades o hábitos que nos dirigen a padecerlas... pero siempre son personas que están buscando ayuda para enfrentar y resolver estas cuestiones y poder tener una relación armoniosa con la Comida.</p>
                            <p style="margin-bottom: 15px !important;text-align: justify !important;">Mi ideología de trabajo se fue moldeando conforme a las necesidades que observaba en mis clientes, y hace un tiempo, percibo que cada vez contratamos y compramos más cosas en línea, desde la comodidad de nuestras casas.</p>
                            <p style="text-align: justify !important;">Ttd me da la posibilidad de nuclear toda mi experiencia con un sistema on line 100% personalizado, donde detrás de cada respuesta o sugerencia encontrarás soluciones profesionales, en el momento justo desde la comodidad de una aplicación móvil.</p>
                            <h3>Motivar a mis clientes a diario y despertar su creatividad a la hora de comer son las razones por la que me enorgullezco de mi labor como Nutrici y coach.</h3>
                        </div>

                        <div class="row image-grid-row">
                            <div class="col-xs-12 col-sm-5 big-image wow fadeInRight">
                                <figure><a href="#"><img class="img-responsive" src="{{ asset('images/jen/jenn.png') }}" alt="Jennifer" /></a></figure>
                            </div>
                            <div class="col-xs-12 col-sm-7 small-image-group wow fadeInLeft">
                                <div class="row">
                                    <div class="col-xs-6 col-sm-6 small-image-wrap wow fadeInUp">
                                        <figure><a href="#"><img class="img-responsive" src="{{ asset('images/jen/1.png') }}" alt="Jennifer" /></a></figure>
                                    </div>
                                    <div class="col-xs-6 col-sm-6 small-image-wrap wow fadeInUp">
                                        <figure><a href="#"><img class="img-responsive" src="{{ asset('images/jen/2.png') }}" alt="Jennifer" /></a></figure>
                                    </div>
                                    <div class="col-xs-6 col-sm-6 small-image-wrap wow fadeInUp">
                                        <figure><a href="#"><img class="img-responsive" src="{{ asset('images/jen/3.png') }}" alt="Jennifer" /></a></figure>
                                    </div>
                                    <div class="col-xs-6 col-sm-6 small-image-wrap wow fadeInUp">
                                        <figure><a href="#"><img class="img-responsive" src="{{ asset('images/jen/4.png') }}" alt="Jennifer" /></a></figure>
                                    </div>
                                </div>
                            </div>
                            
                        </div>

                         <!-- == whole about us content wrap starts == -->
                    
                        <div class="text-center top-description wow fadeInUp">
                            <h2 class="text-sp text-lt">Hola, soy Makarena Krasuski, Lic en Nutrición.</h2>
                            <p style="margin-bottom: 15px !important;text-align: justify !important;">Considero a la nutrición como una ciencia interesante, desafiante y fundamental para la salud de las personas</p>
                            <p style="margin-bottom: 15px !important;text-align: justify !important;">Durante mi proceso de aprendizaje tuve dos momentos que los tomé como mayor inspiración y motivación para finalizar la carrera. El primero, fue a la mitad de mi primer año de estudios, mi hermanita de 8 años fue diagnosticada de diabetes tipo 1, que como saben la alimentación es un pilar fundamental en el tratamiento.</p>
                            <p style="margin-bottom: 15px !important;text-align: justify !important;">El segundo, ocurrió en mi último año de prácticas en donde sentí que las simples recomendaciones que se brindaban a través del consultorio producían grandes cambios positivos en la vida cotidiana de aquellas personas que asistían al nutricionista.</p>
                            <p style="text-align: justify !important;">Transito esta linda profesión desde mi emprendimiento: MK Nutrición y con Jenn hemos creado Ttd para ayudarte, ademas soy la creadora de las innumerables recetas con las que te vas a encontrar.</p>
                            <h3>Tengo como objetivo que a través de esto pueda ayudarte a tener una alimentación saludable e inteligente.</h3>
                        </div>

                        <!-- About us image grid block starts -->
                        <div class="row image-grid-row">
                            
                            <div class="col-xs-12 col-sm-7 small-image-group wow fadeInLeft">
                                <div class="row">
                                    <div class="col-xs-6 col-sm-6 small-image-wrap wow fadeInUp">
                                        <figure><a href="#"><img class="img-responsive" src="{{ asset('images/maka/1.png') }}" alt="Makarena Krasuski" /></a></figure>
                                    </div>
                                    <div class="col-xs-6 col-sm-6 small-image-wrap wow fadeInUp">
                                        <figure><a href="#"><img class="img-responsive" src="{{ asset('images/maka/2.png') }}" alt="Makarena Krasuski" /></a></figure>
                                    </div>
                                    <div class="col-xs-6 col-sm-6 small-image-wrap wow fadeInUp">
                                        <figure><a href="#"><img class="img-responsive" src="{{ asset('images/maka/3.png') }}" alt="Makarena Krasuski" /></a></figure>
                                    </div>
                                    <div class="col-xs-6 col-sm-6 small-image-wrap wow fadeInUp">
                                        <figure><a href="#"><img class="img-responsive" src="{{ asset('images/maka/4.png') }}" alt="Makarena Krasuski" /></a></figure>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-5 big-image wow fadeInRight">
                                <figure><a href="#"><img class="img-responsive" src="{{ asset('images/maka/maka.png') }}" alt="Makarena Krasuski" /></a></figure>
                            </div>
                        </div>
                        <!-- About us image gallery block ends -->

                        <div class="text-center center-btn wow flipInX">
                            <a href="{{ url('planes') }}" class="btn border-btn-x-big hvr-wobble-horizontal">Ver Planes</a>
                            <a href="{{ url('quienes_somos') }}" class="btn border-btn-x-big hvr-wobble-horizontal">Ten Tu Dieta</a>
                        </div>
                        <!-- 2 columns paragraph ends -->

                    </div>
                    <!-- == whole about us content wrap starts == -->
                </div>

                
            </section>
            <!-- ============== About us ends ============== -->

{% endblock %}