{% extends 'layouts/madang.html.twig' %}

{% block title %}Ten Tu Dieta{% endblock %}

{% block banner %}
    <!-- ============== Menu page banner starts ============== -->
       <!-- <section class="banner banner-image deal-page-banner">
            <div class="bannerwrap">
                <figure><img src="" alt="Deal banner" /></figure>
                <div class="banner-text text-center">
                </div>
            </div>
        </section>
        <!-- ============== Menu page banner ends ============== -->
{% endblock %}

{% block body %}
    <!-- ============== Deal page starts ============== -->
             <div class="block">
                 <!--container-->
                 <div class="container">
                    <!--single deal -->
                    <div class="top-text text-center wow fadeInUp">
                        <h3>PLAN {{ registro.nombre }}</h3>
                    </div>
                    <div class="row">

                        <div class="text-center top-description wow fadeInUp">
                            <p style="padding: 20px !important;margin-bottom: 15px !important;text-align: justify !important;white-space: pre-line !important;">{{ registro.cuerpo }}</p>
                            
                                 
                        </div>

                        <div class="text-center top-description wow fadeInUp">
                            <p><h3 style="align: center;">¿COMO ADQUIRIRLO?</h3></p>
                        </div>

                        <div class="row">
                        <div class="col-xs-12 col-sm-4 choose wow fadeInLeft">
                            <div class="feature-item-wrap text-center">
                                <figure><a href="#"><img class="img-responsive" src="{{ asset('images/weight-loss.svg') }}" alt="Eat and enjoy icon" /></a></figure>
                                <h5><a class="text-lt" href="#">Paga a travez de MercadoPago</a></h5>
                                <form action="/procesar-pago" method="POST">
                                    {% for preferencia in mercadopago.preferencias %}
                                    <script
                                        src="https://www.mercadopago.com.ar/integrations/v1/web-payment-checkout.js"
                                        data-preference-id="{{ preferencia.id }}">
                                    </script>
                                    {% endfor %}  
                                </form>
                                <p>Haciendo click en este link de pago podras pagar a travez de la plataforma de Mercadopago de manera facil y segura.</p>
                                
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-4 deliver wow fadeInUp">
                            <div class="feature-item-wrap text-center">
                                <figure><a href="#"><img class="img-responsive" src="{{ asset('images/weight-loss.svg') }}" alt="Eat and enjoy icon" /></a></figure>
                                <h5><a class="text-lt" href="#">Registrate</a></h5>
                                <p>Una vez realizado el pago te pediremos que te registres en nuestro sistema.</p>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-4 eat wow fadeInRight">
                            <div class="feature-item-wrap text-center">
                                <figure><a href="#"><img class="img-responsive" src="{{ asset('images/weight-loss.svg') }}" alt="Eat and enjoy icon" /></a></figure>
                                <h5><a class="text-lt" href="#">Completa tu Ficha</a></h5>
                                <p>Desde nuestro panel lateral vas a poder completar tu ficha para que podamos realizar tu Dieta!</p>
                            </div>
                        </div>
                    </div>

                        <div style="padding-top: 20px !important;" class="text-center center-btn wow flipInX">
                            <a href="{{ url('planes') }}" class="btn border-btn-x-big hvr-wobble-horizontal">Ver Más Planes</a>
                        </div>
                    </div>
                 </div>
                 <!--container ends-->
             </div>
            <!-- ============== Deal page ends ============== -->
{% endblock %}