{% extends 'layouts/madang.html.twig' %}

{% block title %}Ten Tu Dieta{% endblock %}

{% block banner %}
    <!-- ============== Menu page banner starts ============== -->
       <!-- <section class="banner banner-image deal-page-banner">
            <div class="bannerwrap">
                <figure><img src="" alt="Deal banner" /></figure>
                <div class="banner-text text-center">
                </div>
            </div>
        </section>
        <!-- ============== Menu page banner ends ============== -->
{% endblock %}

{% block body %}
    <!-- ============== Deal page starts ============== -->
             <div class="block">
                 <!--container-->
                 <div class="container">
                    <!--single deal -->
                    <div class="top-text text-center wow fadeInUp"><h3>El momento es ahora, el día es hoy y la hora es ya! Abandoná las excusas, y no esperes a un "lunes" que nunca llega!</h3></div>
                    <div class="row">
                        
            {% if (registros | length)>0 %}
                {% for registro in registros %}
                        <div class="col-xs-12 col-sm-6 features-item wow fadeInLeft">
                            <div class="feature-item-wrap text-center">
                                <figure style="height: auto;">
                                    {% if registro.nombre == "M&H DE 30 DÍAS" %}
                                        <img style="heigt: 100%" src="{{ asset('images/planes/MYH.png') }}" alt="{{ registro.nombre }}"></figure>
                                    {% elseif registro.nombre == "INTENSIVO DE 14 DÍAS" %}
                                        <img src="{{ asset('images/planes/INTENSIVO.png') }}" alt="{{ registro.nombre }}"></figure>
                                    {% elseif registro.nombre == "CLÁSICO DE 30 DÍAS" %}
                                        <img src="{{ asset('images/planes/CLASICO30.png') }}" alt="{{ registro.nombre }}"></figure>
                                    {% elseif registro.nombre == "COMBINADO DE 30 DÍAS" %}
                                        <img src="{{ asset('images/planes/COMBINADO.png') }}" alt="{{ registro.nombre }}"></figure>
                                    {% elseif registro.nombre == "CLÁSICO DE 90 DÍAS" %}
                                        <img src="{{ asset('images/planes/CLASICO90.png') }}" alt="{{ registro.nombre }}"></figure>
                                    {% elseif registro.nombre == "SEMIPRESENCIAL" %}
                                        <img src="{{ asset('images/planes/SEMIPRESENCIAL.png') }}" alt="{{ registro.nombre }}"></figure>
                                    {% elseif registro.nombre == "MATERNO" %}
                                        <img src="{{ asset('images/planes/MATERNO.png') }}" alt="{{ registro.nombre }}"></figure>
                                    {% elseif registro.nombre == "NUTRICION DEPORTIVA" %}
                                        <img src="{{ asset('images/planes/DEPORTIVO.png') }}" alt="{{ registro.nombre }}"></figure>
                                    {% elseif registro.nombre == "SALUD CARDIOVASCULAR" %}
                                        <img src="{{ asset('images/planes/CARDIOVASCULAR.png') }}" alt="{{ registro.nombre }}"></figure>
                                    {% elseif registro.nombre == "NUTRICION VEGGIE" %}
                                        <img src="{{ asset('images/planes/VEGGIE.png') }}" alt="{{ registro.nombre }}"></figure>
                                    {% endif %}
                                </figure>
                                <h5><a href="#">{{ registro.nombre }}</a></h5>
                                <p style="white-space: pre-line;">{{ registro.resumen }}</p>
                                <a href="{{ url('planes_detalle', {'id': registro.id}) }}" class="btn hvr-wobble-horizontal">leer Más</a>
                            </div>
                        </div>
                    <!--single deal ends-->
                {% endfor %}
            {% endif %}

                 </div>
                 <!--container ends-->
             </div>
            <!-- ============== Deal page ends ============== -->
{% endblock %}