{% extends 'layouts/madang.html.twig' %}

{% block title %}Ten Tu Dieta{% endblock %}

{% block body %}
            <section class="block how-it-works-block">
                <div class="container">
                    <div class="top-text text-center wow fadeInUp">
                        <h4 class="text-uppercase text-lt text-sp" >TEN TU DIETA</h4>
                    </div>
                    <div class="row">
                        <div class="text-center top-description wow fadeInUp">
                            <p style="padding-left: 10px !important;padding-right: 10px !important;margin-bottom: 15px !important;text-align: justify !important;">Es un servicio nutricional Online destinado a guiarte a desarrollar hábitos saludables que te lleven a lograr un peso deseado desde la comodidad de tu celular. Donde tendrás recordatorios de comidas y bebidas con innumerables ideas de menú y sus recetas.</p>
                            <p style="padding-left: 10px !important;padding-right: 10px !important;margin-bottom: 15px !important;text-align: justify !important;">Además del chat de la plataforma, podrás encontrarnos en todas las plataformas digitales para responder a tus consultas.</p>
                        </div>
                    </div>
                </div>
            </section>
            <!-- ============== how it works block starts ============== -->

            <!-- ================== menu cateogry list====================-->
            <div class="block cat-list-wrap">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12 top-text-header text-center wow fadeInUp">
                            <h4 class="text-uppercase text-lt text-sp">NUESTROS PLANES NUTRICIONALES</h4>
                        </div>
                    </div>

                    <div class="row">
                        {% for registro in registros %}
                        <!--single cat -->
                        <div class="col-sm-3 cat-wrap wow fadeInLeft">
                            <a href="{{ url('planes_detalle', {'id': registro.id}) }}">
                                <span>{{ registro.nombre }}</span>
                                <figure>
                                {% if registro.nombre == "M&H DE 30 DÍAS" %}
                                    <img src="{{ asset('images/planes/MYH.png') }}" alt="{{ registro.nombre }}"></figure>
                                {% elseif registro.nombre == "INTENSIVO DE 14 DÍAS" %}
                                    <img src="{{ asset('images/planes/INTENSIVO.png') }}" alt="{{ registro.nombre }}"></figure>
                                {% elseif registro.nombre == "CLÁSICO DE 30 DÍAS" %}
                                    <img src="{{ asset('images/planes/CLASICO30.png') }}" alt="{{ registro.nombre }}"></figure>
                                {% elseif registro.nombre == "COMBINADO DE 30 DÍAS" %}
                                    <img src="{{ asset('images/planes/COMBINADO.png') }}" alt="{{ registro.nombre }}"></figure>
                                {% elseif registro.nombre == "CLÁSICO DE 90 DÍAS" %}
                                    <img src="{{ asset('images/planes/CLASICO90.png') }}" alt="{{ registro.nombre }}"></figure>
                                {% elseif registro.nombre == "SEMIPRESENCIAL" %}
                                    <img src="{{ asset('images/planes/SEMIPRESENCIAL.png') }}" alt="{{ registro.nombre }}"></figure>
                                {% elseif registro.nombre == "MATERNO" %}
                                    <img src="{{ asset('images/planes/MATERNO.png') }}" alt="{{ registro.nombre }}"></figure>
                                {% elseif registro.nombre == "NUTRICION DEPORTIVA" %}
                                    <img src="{{ asset('images/planes/DEPORTIVO.png') }}" alt="{{ registro.nombre }}"></figure>
                                {% elseif registro.nombre == "SALUD CARDIOVASCULAR" %}
                                    <img src="{{ asset('images/planes/CARDIOVASCULAR.png') }}" alt="{{ registro.nombre }}"></figure>
                                {% elseif registro.nombre == "NUTRICION VEGGIE" %}
                                    <img src="{{ asset('images/planes/VEGGIE.png') }}" alt="{{ registro.nombre }}"></figure>
                                
                                {% endif %}
                            </a>
                        </div>
                        <!-- singel cat ends-->
                        {% endfor %}
                       
                    </div>
                </div>
            </div>
            <!-- ================== menu cateogry list ends====================-->

           
           


            <section style="padding-top: 0px !important" class="block how-it-works-block">
                <div class="container">
                    <div class="row">
                        <div class="text-center top-description wow fadeInUp">
                            <p><h3 style="align: center;">¿COMO ADQUIRIRLO?</h3></p>
                        </div>

                        <div class="row">
                        <div class="col-xs-12 col-sm-4 choose wow fadeInLeft">
                            <div class="feature-item-wrap text-center">
                                <figure><a href="#"><img class="img-responsive" src="{{ asset('images/weight-loss.svg') }}" alt="Eat and enjoy icon" /></a></figure>
                                <h5><a class="text-lt" href="#">Elegi tu plan</a></h5>
                                <p>Selecciona el plan que se adapte a tus necesidades</p>
                                
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-4 deliver wow fadeInUp">
                            <div class="feature-item-wrap text-center">
                                <figure><a href="#"><img class="img-responsive" src="{{ asset('images/weight-loss.svg') }}" alt="Eat and enjoy icon" /></a></figure>
                                <h5><a class="text-lt" href="#">Paga a travez de Mercadopago</a></h5>
                                <p>Haciendo click en el link de pago podras pagar a travez de la plataforma de Mercadopago de manera facil y segura.</p>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-4 eat wow fadeInRight">
                            <div class="feature-item-wrap text-center">
                                <figure><a href="#"><img class="img-responsive" src="{{ asset('images/weight-loss.svg') }}" alt="Eat and enjoy icon" /></a></figure>
                                <h5><a class="text-lt" href="#">Registrate y completa tu Ficha</a></h5>
                                <p>Registrate y desde nuestro panel lateral vas a poder completar tu ficha para que podamos realizar tu Dieta!</p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- ============== featured menu block ends ============== -->


            <!-- ============== download app block starts ============== -->
            <section class="download-app-block">
                <div class="container">
                    <!-- left image starts -->
                    <div class="wow fadeInLeft left-mobile">
                        <figure><img src="{{ asset('images/quienessomos/equipo-grande.png') }}" alt="Mobile phone" /></figure>
                    </div>
                    <!-- left image ends -->

                    <!-- right text starts -->
                    <div class="wow fadeInRight download-app-text">
                        <div class="download-app-wrap">
                            <h4><a href="#" class="text-lt text-sp">Nuestro Equipo Especializado</a></h4>
                            <h1 class="text-lt text-sp"></h1>
                            <p>Jenn, Maka y Andrea (lic en nutrición y Psicología) juntas, queremos brindarte una atención integral y acompañarte en un proceso de cambio para que puedas lograr un estilo de vida saludable.</p>
                            
                        </div>
                    </div>
                    <!-- right text ends -->
                </div>
            </section>
            <!-- ============== download app block ends ============== -->

                <section class="contacto">
                    <div class="container">
                    <div class="subscribe-wrap">
                        <div class="step1">
                            <div class="col-xs-12 col-sm-6 wow fadeInLeft  left-form">
                                <div class="row">
                                    <h5 class="text-uppercase">No te quedes con dudas contactate con nosotros!</h5>
                                    <form class="about-us-form">
                                    
                                        <fieldset>
                                            <input type="text" placeholder="Nombre Completo" />
                                        </fieldset>
                                        <fieldset>
                                            <input type="email" placeholder="E-mail" />
                                        </fieldset>
                                        <fieldset>
                                            <textarea name="content" placeholder="Escriba aquí su consulta"></textarea>
                                        </fieldset>
                                        <fieldset>
                                            <input type="submit" value="Enviar" />
                                        </fieldset>
                                    </form>
                                </div>
                                <div class="row">
                                    <div style="padding-top: 5px !important;" class="col-xs-12 col-sm-12">
                                        <a  style="width: 100% !important;"  target="_blank" class="btn" href="https://api.whatsapp.com/send?phone=+5493764715617">Mandanos un Whatsapp</a>
                                    </div>
                                </div>
                            </div>

                            <div class="col-xs-12 col-sm-6 wow fadeInRight right-image">
                                <figure><img src="{{ asset('images/contacto/contacto.png') }}" alt="About us image" /></figure>
                            </div>
                        </div>
                        </div>
                        </div>
                </section>

           
            <!-- ============== instagram block starts ============== -->
           <!-- <section class="block instagram-block">
                <div class="container">
                    <div class="top-text-header text-center">
                        <h4 class="text-uppercase text-sp text-lt">FOLLOW OUR INSTAGRAM</h4>
                        <span class="follow-at text-spx text-lt">@MadangFood</span>
                    </div>
                </div>
                <div class="instagram-image-row">
                    <ul>
                        <li class="wow fadeInUp"><figure><a href="#"><img src="images/instagram-img1.jpg" alt="Instagram image" /></a></figure></li>
                        <li class="wow fadeInUp"><figure><a href="#"><img src="images/instagram-img2.jpg" alt="Instagram image" /></a></figure></li>
                        <li class="wow fadeInUp"><figure><a href="#"><img src="images/instagram-img3.jpg" alt="Instagram image" /></a></figure></li>
                        <li class="wow fadeInUp"><figure><a href="#"><img src="images/instagram-img4.jpg" alt="Instagram image" /></a></figure></li>
                        <li class="wow fadeInUp"><figure><a href="#"><img src="images/instagram-img5.jpg" alt="Instagram image" /></a></figure></li>
                        <li class="wow fadeInUp"><figure><a href="#"><img src="images/instagram-img6.jpg" alt="Instagram image" /></a></figure></li>
                        <li class="wow fadeInUp"><figure><a href="#"><img src="images/instagram-img7.jpg" alt="Instagram image" /></a></figure></li>
                    </ul>
                </div>
            </section>
            <!-- ============== instagram block starts ============== -->

            <!-- ============== Subscribe block starts ============== -->
            <section class="block subscribe-block text-center">
                <div class="container">
                    <div class="subscribe-wrap">
                        <div class="top-text wow fadeInUp text-sp text-lt">
                            Suscribite a nuestro Newsletter para recibir noticias!
                        </div>
                        <div class="subscribe-form wow fadeInDown">
                            <form action="{{ url('newsletter') }}" method="post">
                                <input type="text" class="text-spx text-lt" id="email" name="email" placeholder="Ingrese su E-mail">
                                <button type="submit" class="btn text-uppercase wow flipInX">Suscribirse</button>
                            </form>
                        </div>
                    </div>
                </div>
            </section>
            <!-- ============== Subscribe block ends ============== -->

           
 
        <!-- Download pop up starts -->
        <div class="download-popup modal fade" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <button type="button" class="close hvr-wobble-vertical" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">
                            <svg xmlns="http://www.w3.org/2000/svg" width="34" height="34" viewBox="0 0 34 34">
                                <path d="M29.02,4.98A17,17,0,1,0,4.98,29.02,17,17,0,1,0,29.02,4.98ZM27.654,27.654A15.066,15.066,0,0,1,6.346,6.346,15.066,15.066,0,0,1,27.654,27.654ZM24.491,9.509a0.963,0.963,0,0,0-1.367,0L17,15.633,10.875,9.509a0.966,0.966,0,0,0-1.367,1.367L15.633,17,9.509,23.125a0.97,0.97,0,0,0,.68,1.653,0.943,0.943,0,0,0,.68-0.286l6.124-6.125,6.125,6.125a0.972,0.972,0,0,0,.68.286,0.931,0.931,0,0,0,.68-0.286,0.963,0.963,0,0,0,0-1.367L18.367,17l6.125-6.125A0.963,0.963,0,0,0,24.491,9.509Z" fill="#60ba62"/>
                            </svg>
                        </span>
                    </button>                        
                    <div class="modal-body">
                        <!-- left image starts -->
                        <div class="left-mobile">
                            <figure><img src="images/mobile-phone-big.png" alt="Mobile phone" /></figure>
                        </div>
                        <!-- left image ends -->

                        <!-- right text starts -->
                        <div class="download-app-text">
                            <div class="download-app-wrap">
                                <h4><a href="#">Download the app</a></h4>
                                <h1>Choose. Eat. Enjoy</h1>
                                <p>Nam liber tempor csoluta nobis eleifnd option congue nihil imperdiet doming iquod mazim placerat facer possim assum lorem ipsum dolor possim assum lorem ipsum dolor.</p>
                                <div class="contact-block">
                                    <form>
                                        <fieldset>
                                            <input type="tel" placeholder="Your Phone Number" />
                                        </fieldset>
                                        <fieldset>
                                            <input type="submit" value="text me the link" />
                                        </fieldset>
                                    </form>
                                </div>
                                <div class="download-from">
                                    <a href="#"><img src="images/app-store.png" alt="App store" /></a>
                                    <a href="#"><img src="images/google-play.png" alt="Google Play" /></a>
                                </div>
                            </div>
                        </div>
                        <!-- right text ends -->
                    </div>
                </div>
            </div>
        </div>
        <!-- Download pop up ends -->

        <!-- Newsletter pop up starts -->
        <div class="newsletter-popup modal fade" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <button type="button" class="close hvr-wobble-vertical" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">
                            <svg xmlns="http://www.w3.org/2000/svg" width="34" height="34" viewBox="0 0 34 34">
                                <path d="M29.02,4.98A17,17,0,1,0,4.98,29.02,17,17,0,1,0,29.02,4.98ZM27.654,27.654A15.066,15.066,0,0,1,6.346,6.346,15.066,15.066,0,0,1,27.654,27.654ZM24.491,9.509a0.963,0.963,0,0,0-1.367,0L17,15.633,10.875,9.509a0.966,0.966,0,0,0-1.367,1.367L15.633,17,9.509,23.125a0.97,0.97,0,0,0,.68,1.653,0.943,0.943,0,0,0,.68-0.286l6.124-6.125,6.125,6.125a0.972,0.972,0,0,0,.68.286,0.931,0.931,0,0,0,.68-0.286,0.963,0.963,0,0,0,0-1.367L18.367,17l6.125-6.125A0.963,0.963,0,0,0,24.491,9.509Z" fill="#60ba62"/>
                            </svg>
                        </span>
                    </button>                        
                    <div class="modal-body">
                        <div class="newsletter-inner">
                            <h1 class="text-uppercase"><strong>BE THE LUCKY WINNER</strong></h1>
                            <h2 class="text-uppercase">AND GET FREE MADANG PREMIUM MEALS</h2>
                            <p>We are also offer you latest deal in your inbox. Be the first!</p>
                            <div class="newsletter-subscribe-form">
                                <form>
                                    <fieldset>
                                        <input type="text" placeholder="Drop your e-mail here" />
                                    </fieldset>
                                    <fieldset>
                                        <input type="submit" value="submit" />
                                    </fieldset>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Newsletter pop up ends -->
{% endblock %}
