{% block header %}
    <!-- ============== Header starts ============== -->
        <header>
            <div class="container">
                <div class="row">

                    <!-- ============== Left logo block starts ============== -->
                    <div class="col-xs-12 col-sm-3 logo-block">
                        <figure><a href="{{ url('default') }}"><img class="img-responsive" src="{{ asset('images/header/logo-ttd-2.png') }}" alt="Madang Logo" /></a></figure>
                    </div>
                    <!-- ============== Left logo block ends ============== -->

                    <!-- ============== Main navigation starts ============== -->
                    <div class="col-xs-12 col-sm-7 menu-block">
                        <nav class="navbar navbar-default">
                            <div class="container-fluid">
                                <!-- Brand and toggle get grouped for better mobile display -->
                                <div class="navbar-header">
                                    <button type="button" class="navbar-toggle">
                                        <span class="sr-only">Toggle navigation</span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                    </button>
                                </div>

                                <!-- Collect the nav links, forms, and other content for toggling -->
                                <div class="collapse">
                                    <ul class="nav navbar-nav text-right pull-right">
                                        <li class="active"><a href="{{ url('quienes_somos') }}">Ten tu Dieta</a></li>
                                        <li><a href="{{ url('equipo') }}">Conocenos</a></li>
                                        <li><a href="{{ url('planes') }}">Servicios</a></li>
                                        <li><a href="{{ url('login') }}">Ingresar</a></li>
                                    </ul>
                                </div><!-- /.navbar-collapse -->
                            </div><!-- /.container-fluid -->
                        </nav>
                    </div>

                    <div class="col-xs-12 col-sm-2 nav-right-btn">
                        <a class="btn border-btn-small" href="{{ url('cliente_registro') }}">Contactar</a>
                    </div>
                    
                    <!-- ============== Main navigation ends ============== -->

                </div>
            </div>
        </header>
        <!-- ============== Header ends ============== -->
{% endblock %}