{% extends 'layouts/metronic.html.twig' %}

{% block title %}Consulta - Editar{% endblock %}

{% block body %}
<div class="m-subheader ">
        <div class="d-flex align-items-center">
            <div class="mr-auto">
                <h3 class="m-subheader__title  m-subheader__title--separator">
                    Editra Consulta
                </h3>
            </div>
        </div>
    </div>
    <div class="m-content">
        <!--Begin::Section-->
        <div class="row">
            <div class="col-xl-12">
                    <div class="m-portlet m-portlet--bordered-semi m-portlet--full-height ">
                            <div class="m-portlet__head">
                                <div class="m-portlet__head-caption">
                                    <div class="m-portlet__head-title">
                                        <h3 class="m-portlet__head-text">
                                            Cargue los valores en los campos de texto
                                        </h3>
                                    </div>
                                </div>
                                <div class="m-portlet__head-tools">
                                    <a href="{{ url('ficha') }}" class="btn btn-outline-danger m-btn m-btn--icon m- m-btn--outline-2x">Cancelar <i class="la la-times-circle"></i></a>
                                </div>
                            </div>
                            <div class="m-portlet__body">
                                <!--begin::Section-->
                               
                                        <div class="m-section">
                                                <div class="m-section__content">
                                                    {{ form_start(form) }}
                                                        <div class="form-group m-form__group">
                                                            {{ form_label(form.unMotivoConsulta, 'Motivo de la Consulta') }}
                                                            {{ form_errors(form.unMotivoConsulta) }}
                                                            {{ form_widget(form.unMotivoConsulta, {'attr': {'class': 'form-control m-input'}}) }}
                                                        </div>
                                                        <div class="form-group m-form__group">
                                                            {{ form_label(form.medio, 'Medio por el cual llegaste a Ten tu Dieta') }}
                                                            {{ form_errors(form.medio) }}
                                                            {{ form_widget(form.medio, {'attr': {'class': 'form-control m-input'}}) }}
                                                        </div>
                                                        <div class="form-group m-form__group">
                                                            {{ form_label(form.expectativa, 'Expectativa') }}
                                                            {{ form_errors(form.expectativa) }}
                                                            {{ form_widget(form.expectativa, {'attr': {'class': 'form-control m-input'}}) }}
                                                        </div>
                                                        <div class="form-group m-form__group">
                                                            {{ form_label(form.fumador, 'Usted fuma?') }}
                                                            {{ form_errors(form.fumador) }}
                                                            {{ form_widget(form.fumador, {'attr': {'class': 'form-control m-input'}}) }}
                                                        </div>
                                                        <div class="form-group m-form__group">
                                                            {{ form_label(form.alcohol, 'Usted bebe Alcohol?') }}
                                                            {{ form_errors(form.alcohol) }}
                                                            {{ form_widget(form.alcohol, {'attr': {'class': 'form-control m-input'}}) }}
                                                        </div>
                                                    {{ form_end(form) }}
                                                </div>
                                        </div>
                            </div>
                    </div>
            </div>
        </div>
    </div>
</div>
                                            
    
{% endblock %}